.icon {
    border-radius: 5px;
    text-align: center;
}

.icon:hover {
    cursor: pointer;
}

.descriptions button {
    border: none;
    border-radius: 5px;
}

.descriptions a {
    width: 8rem;
}